/* Analysis.js */

.analysis-wrapper {
  display: flex;
}

/* Custom.js */

.custom-wrapper {
  height: 100vh;
  width: 350px;
  /* background-color: rgb(213, 213, 251); */
}

/* Plt.js */

.plt-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: calc(100% - 800px);
  background-color: #ffffff;
}

.plt-wrapper img {
  width: 800px;
  height: 700px;
  object-fit: contain;
}

/* Chat.js */

.chat-wrapper {
  height: 100vh;
  width: 450px;
  /* background-color: rgb(217, 238, 163); */
}