p {
  margin: 0;
}

.plt-selection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.selection-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.selection-wrapper .scatter-button,
.selection-wrapper .histogram-button,
.selection-wrapper .boxhidediagram-button,
.selection-wrapper .piechart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.selection-wrapper .scatter-button {
  background-color: #D75365;
}

.selection-wrapper .histogram-button {
  background-color: #0883AF;
}

.selection-wrapper .boxhidediagram-button {
  background-color: #2E8F75;
}

.selection-wrapper .piechart-button {
  background-color: #FFA500;
}