p {
  margin: 0;
}

.plt-selection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.plt-selection .selection-wrapper {
  width: 300px;
  height: 30px;
  display: flex;
}

.plt-selection .selection-wrapper p {
  color: white;
  font-weight: 600;
}

.plt-selection .selection-wrapper .scatter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  margin-right: 20px;
  height: 30px;
  border-radius: 15px;
  background-color: #D75365;
}

.plt-selection .selection-wrapper .histogram-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  margin-right: 20px;
  height: 30px;
  border-radius: 15px;
  background-color: #0883AF;
}

.plt-selection .selection-wrapper .boxhidediagram-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  margin-right: 20px;
  height: 30px;
  border-radius: 15px;
  background-color: #2E8F75;
}